@media (max-width: 1000px) {
  * {
    padding: 0px;
  }
  h1 {
    padding: 0px;
    font-size: 15px;
  }
  .hero-text {
    margin-top: -45vw;
    margin-left: -25vh;
    width: 100%;
  }
  .main {
    display: flex;
    padding: 0px 30px 0px 30px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    #RuangKami,
    #RuangTemu {
      margin-top: -20px;
    }
  }
  .card-box {
    justify-content: center;
  }
  aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .garis {
    margin: 30px auto;
    width: 90%;
  }
}

@media (max-width: 670px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .hero-text {
    h1,
    p {
      display: none;
    }
  }
  .garis {
    width: 100%;
    border: 0.2px solid;
    margin: 80px 0px -50px 0px;
    text-align: center;
  }
  .quick {
    margin-top: 10px;
  }

  nav {
    height: 50px;
    .container {
      display: none;
      a {
        font-size: 10px;
        display: none;
        margin: 0px;
      }
    }
  }
  #RuangTemu {
    margin-top: -50px;
  }
  .main {
    margin-top: 30px;
    display: flex;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    padding: 0px 2%;
    .card-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: -45px;
      .card {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .self-pict {
          margin-top: 20px;
        }
      }
    }
    aside {
      img {
        width: 200px;
        height: 200px;
        margin: 100px 0px 20px 0px;
      }
      p {
        font-size: 16px;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  footer {
    .left {
      padding: 0px;
      img {
        margin-top: 15px;
        width: 150px;
      }
    }
    .right {
      .warnet,
      .addres {
        font-size: 12px;
      }
      img {
        display: none;
      }
    }
  }
}
