* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

.poppin {
  font-family: "Poppins", sans-serif;
}
.quick {
  font-family: "Quicksand", sans-serif;
}
h2 {
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  color: #4278b7;
  font-weight: 600;
}
p {
  font-size: 20px;
  color: #2d2d2d;
  font-weight: 500;
}
.garis {
  border: 0.2px solid #0a5783;
  margin-right: 15px;
}
// HEADER

nav {
  z-index: 2;
  background-color: #4278b7;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  .left-side {
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .header3 {
      height: 60px;
      .menu3 {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0 100px;
        a {
          display: block;
          height: 100%;
          margin-right: 20px;
          font-size: 20px;
          position: relative;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          font-family: "Quicksand", sans-serif;
          transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        li:after {
          content: "";
          position: absolute;
          width: 0%;
          height: 1px;
          display: block;
          transition: all 0.3s ease;
          bottom: 25%;
        }
        li:hover::after {
          width: 100%;
          height: 1px;
          background-color: #fff;
        }
      }
    }
  }
}

// HEADER
.slider-heroimg {
  .slideshow-container {
    width: 100%;

    .hero-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      color: #f2f2f2;
      left: 31%;
      top: 50%;
      h1 {
        font-size: 80px;
        letter-spacing: 0.055em;
      }
      p {
        font-size: 40px;
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        margin: auto;
        color: #f2f2f2;
      }
    }
    .mySlides {
      display: none;
    }
    .fade {
      animation-name: fade;
      animation-duration: 1;
    }
  }
}
.main {
  display: flex;
  margin-top: 100px;
  padding: 0px 15%;

  aside {
    display: flex;
    flex-direction: column;

    align-items: center;
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 20px;
    }
    .icon-sosmed {
      svg {
        margin-top: 20px;
        fill: #4278b7;
        margin: 0px 10px;
      }
      svg:hover {
        fill: #2e5888;
      }
    }
  }

  article {
    margin-right: 10px;
    p {
      margin-top: 54px;
    }
    .RuangTemu {
      margin-top: 100px;
    }
    .card-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 98%;
      flex-direction: row;
      margin-top: 50px;
      .card {
        margin: 0px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
          filter: drop-shadow(5px 5px 0px #a7a7a7);
          margin-top: 10px;
        }
        img:hover {
          filter: none;
          transition: 0.5s;
        }
        .card-content {
          margin-top: 20px;
          display: flex;
          align-items: center;
          a {
            font-family: "Quicksand", sans-serif;
            font-size: 16px;
            margin-left: 7px;
            color: #2d2d2d;
            text-decoration: none;
          }
          img {
            filter: none;
          }
        }
      }
    }
  }
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4278b7;
  height: 280px;
  padding: 0px 30% 0px 20%;
  p {
    color: #f2f2f2;
    font-weight: 400;
  }
  .right {
    text-align: right;
    .addres {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .left {
    flex-grow: 1;
  }
}
